<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="constr" connectionString="Data Source=AL75;Initial Catalog=belpk; User ID=sa;password=Nara@76763; Integrated Security=True"
			providerName="System.Data.SqlClient" />
	
	
	</connectionStrings>

 
</configuration>